* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: blue;
  border-color: green;
}
